<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Student Management
    </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/site")
    @Styles.Render("~/Content/justified")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="container">
        <div class="masthead">
            <ul class="nav nav-justified">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Students", "Index", "Student")</li>
                <li>@Html.ActionLink("Courses", "Index", "Home")</li>
                <li>@Html.ActionLink("Instructors", "Index", "Home")</li>
                <li>@Html.ActionLink("Departments", "Index", "Home")</li>
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>


@RenderSection("scripts", required: false)
</html>
